html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b{font-weight: 600}

$blue: #262161;
$green: #B1F543;
$textgreay :#707070;
$ltgrey:#929292;
$grey: #F3F3F3;
$w : #fff;
$b: #000;
$qfont: 'Quicksand', sans-serif;
$opensan: 'Open Sans', sans-serif;

@mixin transition($args...){-webkit-transition:$args;-moz-transition:$args;-ms-transition:$args;-o-transition:$args;transition:$args}


.blue-btn{background-color: $blue!important; color: $w!important; padding: 10px 20px; border-radius: 20px; font-weight: 700; border:1px solid $blue; cursor: pointer;}
.green-btn{background-color: $green!important; color: $b!important; padding: 10px 40px; border-radius: 5px; font-weight: 700; border:1px solid $green; cursor: pointer;}
.blue-btn:hover{color: $blue!important; background-color: $w!important;}
.green-btn:hover{color: $green!important; background-color: $w!important;}


html{font-size: 16px;}
body{font-family: $qfont; font-weight: 400}
header{ height: 85px; background-color: $w; padding: 0!important; -webkit-box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
-moz-box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
	.logo{float: left; margin-right: 20px;margin-top: 5px;
		img{max-width: 200px;}
	}
	ul{
		li{float: left;padding: 34px 10px;
			a{color: $textgreay; padding: 5px 10px; font-size: 0.9375rem;
				&:hover{color: $blue; text-decoration: none;}
			}
		}
	}
	ul:last-child{float: right;
		li{ 
			a{color: $blue; font-weight: 700;}
				&.login{background: linear-gradient(180deg, #F3F3F3 0%, #FFFFFF 100%);}}
		.blue-btn{margin-left: 20px}
	}
}



// ----------------HOME----------------


.home-banner{height: 100vh; background-image: url(/images/Capture.png); background-size: cover; background-position: center; display: flex;align-items: center; background-attachment: fixed;
	h1{font-family: $qfont; font-size: 4rem; text-align: center;color: $w; font-weight: 400;}
}
.banner-bottom{padding: 70px 0;text-align: center;
	h2{font-size: 2.25rem; line-height: 42px; font-family: $qfont; color: $blue; margin-bottom: 20px; font-weight: 600}
	p{font-size: 1.125rem; line-height: 25px; font-family: $opensan; max-width: 850px; margin: auto;color: $ltgrey}
}
.about-this{
	.cnt-area{background-color: #FCFCFC;
		.cnt-area-lft{display: flex; align-items: flex-start; padding-left: 70px; flex-direction:column; justify-content: center;
				h2{color: $blue; font-size: 2rem; line-height: 40px;
					span{color:$ltgrey; font-size: 1.5rem; display: block; }
				}
				p{font-size: 1.125rem; line-height: 25px; font-family: $opensan;color: $ltgrey; margin-bottom: 15px;}
				p{font-size: 1.125rem; line-height: 25px; font-family: $opensan; color: $ltgrey}
				a{font-size: .75rem;font-family: $qfont; color: $ltgrey;}
			}
		}
}
.techrow-platform{text-align: center; padding: 80px 0;
	.logo{width: 200px;display: block;text-align: center;margin:10px auto;}
	.techrow-works{padding: 50px 50px;}
}

.howItWork{text-align: center; padding:0 0 80px;background-color: $blue;
	h2{font-size: 2.25rem; line-height: 42px; font-family: $qfont; color: $w;padding-top: 80px; margin-bottom: 50px; font-weight: 600}
	.how-it-works{margin-bottom: 30px;}
	p{color: $w; max-width: 450px; margin: auto; line-height: 20px}
	.works-types{border:1px solid $w; padding: 50px 40px; border-radius: 30px;
		h3{font-family: $qfont; font-size:1.5rem; margin-bottom: 40px; color: $w;}
		p{ line-height: 20px}

	}
}
// ----------------HOME----------------


.inner-wrap{padding-top: 85px; min-height: 100vh;background-color: $grey;
	.inner-blue-menu{background-color: $blue; width: 300px;height:100%; position: fixed;left: 0; bottom: 0; top:85px; text-align: center; display: flex;    justify-content: space-around; flex-direction: column; align-items: center;
		h1{color: $green; font-size: 2rem; font-weight: 500; line-height: 40px;}
		h3{color: $w; font-size: 1.4rem; font-weight: 500;margin-bottom: 20px;}
		a{color: $w; font-size: 1.125rem; font-weight: 500;   padding: 10px 20px; border:4px solid $green; border-radius: 8px;display: inline-block;}

	}
	.inner-right-wrap{margin-left: 300px;padding-bottom: 30px;
		h4{color: $blue; font-size: 2rem; font-weight: 600; line-height: 40px; text-align: center; margin-top: 100px; margin-bottom: 20px;}
		h5{color: $b; font-size: 2rem; font-weight: 600; line-height: 40px; text-align: center; margin-top: 30px; margin-bottom: 80px;}
		.form-wrap{background-color: $w; width: 80%; padding: 30px; margin: auto; border-radius: 20px;
			.form{width: 390px; margin:80px auto;
				.form-group{
					label{color: #6D6D6D; font-size: .75rem;font-family: $opensan; font-weight: 700;margin-bottom: 10px; text-transform: capitalize;}
					.form-control{background-color: $grey; border:1px solid #707070; border-radius: 5px;
						&:focus{outline: none; box-shadow: none; border-color: $green}
					}
					.ant-select{border:1px solid #707070; border-radius: 5px; height: 38px;display: block;width: 100%;
						.ant-select-selection--single{height: 36px;background-color: $grey; }
						&:hover{border-color: $green}
					}
					.ant-input-group{display: block;
						.ant-select{display: inline-block;width: 20%;background-color: $grey; border:1px solid #707070; border-radius:5px 0 0 5px;float: left; border-right: 0;
							.ant-select-selection--single{height: 36px; background-color: $grey; }
						}
						.form-control{width: 84%;display: inline-block;border-radius: 0 5px 5px 0}

					}
					button{float: right;
					}
				}
			}
		}
		.login-btm{text-align: center; border-top: .2px solid #707070; max-width: 800px;margin: 30px auto 10px; padding-top: 40px;
			span{color: #262261; font-family: $opensan;
				a{color: #262261; text-decoration: underline;}
			}

		}
		.confirm-order{text-align: center;
			.form-wrap{padding: 100px;
				a{margin-top: 10px; display: inline-block;}
				h5{margin-bottom: 40px;}

			}
		}
		.pass-strength{
			.pass-strength-tile{width: 40px; height: 10px; display: inline-block;margin-right: 10px}
			.about-password{display: inline-block;margin-top: 10px; color: #888888}

		}
		.order-bundle{
			h2{font-size: 1.5rem; font-family: $qfont; line-height: 24px; font-weight: 600; color: #262161; margin-bottom: 30px;}
			.form{width: 600px!important}
			.order-num{width: 120px!important; margin: auto!important; border:none!important; text-align: center; font-size:2.25rem; color: #DADADB;height:65px!important;}
			.order-num::-webkit-input-placeholder { /* Edge */
				font-size:2.25rem; color: #DADADB;}
			.order-num:-ms-input-placeholder { /* Internet Explorer 10-11 */
				font-size:2.25rem; color: #DADADB;}
			.order-num::placeholder {
				font-size:2.25rem; color: #DADADB;}
		}
		.billing-wrap{
			.form-wrap .form{width: auto;}
		}
		.confirm-order{
			.order-bundle{text-align: center;
				.tick{width: 150px;}
				.green-btn{float: none; margin: auto;padding: 10px; width: 190px; height: 50px; text-align: center; margin-top:10px; }
			}
		}
	}
}
.signup-wrap{text-align: center;
	.signin-opt{border-radius: 10px;padding: 30px; border-width: 2px; border-style: solid;height: 100%; cursor: pointer;
		&:hover{background-color: rgba(200,200,200,.1);}
		img{height: 100px;}
		h5{margin-bottom: 15px;}
		p{font-family: $opensan; font-size: 1.125rem;line-height: 25px; font-weight: 300; color: #919191}

	}
	.user-type-select{width: 800px; margin: auto;}
	button{float: right; background:none; border:none; cursor: pointer;vertical-align: middle; display: flex; align-items:center; color: #C8C8C8;padding: 5px 10px; border:2px solid $w!important;border-radius: 5px; margin-top: 20px;
		img{border-radius: 50%; padding: 10px; background-color: $green; width: 50px; margin-left: 10px;}
		&:focus{outline: none; box-shadow: none; border:none}	
		&:hover{color: $green; border-color: $green!important;
	
		}		

	}
}
.signin-second{ text-align: left;
	.step-iden{max-width: 800px; margin:30px auto 20px;
		span{font-size: 1rem;}
	}
	h4{margin-top: 70px!important;}
	.form-wrap{
		.form{margin:50px!important}
	}
}


// ----------------Dashboard----------------

.dashboard{padding: 30px; background-color: $w; padding-top: 40px;
	h2{font-family: $qfont; font-size: 2rem; font-weight: 600; color: $blue; display: inline-block;}
	.search{width: 350px; float: right; position: relative;
		.form-control{border-radius: 20px; background-color: #E8E8E8;border:none; padding-right: 50px;
			&:focus{box-shadow: none; outline: none}
		}
		button{position: absolute; right: 10px; top:10px; border:none; background:none; width: 30px; cursor: pointer;}
	}
	.classesList{margin-top: 50px;
		.each-class{margin-bottom: 30px;display: block;
			.class-banne-wrap{overflow: hidden;
				.class-banner{width: 100%; @include transition(all 1s ease);}
			}
			h3{font-family: $qfont; font-size: 1rem; font-weight: 300; line-height: 20px; color: #2e2e2e; margin: 10px 0 10px; text-decoration: none}
			p{font-family: $opensan;  color: #ABABAB; font-size: .75rem; line-height: 16px; text-decoration: none}
			&:hover{text-decoration: none;
				img{-webkit-transform: scale(1.1);
				   -moz-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				     -o-transform: scale(1.1);
				        transform: scale(1.1);}
				h3{color: $blue; text-decoration: none}
				p{color: $blue; text-decoration: none}
			}
		}
	}
}

// ----------------Dashboard----------------


