html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b{font-weight: 600}

$blue: #262161;
$green: #B1F543;
$textgreay :#707070;
$ltgrey:#929292;
$grey: #F3F3F3;
$w : #fff;
$b: #000;
$qfont: 'Quicksand', sans-serif;
$opensan: 'Open Sans', sans-serif;

@mixin transition($args...){-webkit-transition:$args;-moz-transition:$args;-ms-transition:$args;-o-transition:$args;transition:$args}


.blue-btn{background-color: $blue!important; color: $w!important; padding: 10px 20px; border-radius: 20px; font-weight: 700; border:1px solid $blue; cursor: pointer;}
.green-btn{background-color: $green!important; color: $b!important; padding: 10px 40px; border-radius: 5px; font-weight: 700; border:1px solid $green; cursor: pointer;}
.blue-btn:hover{color: $blue!important; background-color: $w!important;}
.green-btn:hover{color: $green!important; background-color: $w!important;}


.loader{height: 100vh; width: 100vw; display: flex; align-items:center; justify-content:center;}

a{@include transition(all 0.5s ease);}

html{font-size: 16px;}
body{font-family: $qfont; font-weight: 400}
header{ height: 85px; background-color: $w; padding: 0!important; -webkit-box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
-moz-box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
box-shadow: 0px 2px 11px -2px rgba(191,191,191,1);
	.logo{float: left; margin-right: 20px;margin-top: 5px;
		img{max-width: 200px;}
	}
	menu{display: none;
		span{position: relative;display: block;background-color: $b;padding: 1px; width: 25px;@include transition(all 0.5s ease);
			&::after{content: ''; position: absolute;top: -7px;left: 0; right: 0;height: 2px; background-color: $b;@include transition(all 0.5s ease);}
			&::before{content: ''; position: absolute;top: 7px;left: 0; right: 0;height: 2px; background-color: $b;@include transition(all 0.5s ease);}
		}
		&.menu-open{
			span{background-color: $w;
				&::after{top: 0; -webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				     -o-transform: rotate(45deg);
				        transform: rotate(45deg);}
				&::before{top: 0;-webkit-transform: rotate(-45deg);
				   -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				     -o-transform: rotate(-45deg);
				        transform: rotate(-45deg);}
			}
		}
	}
	.header-menu{ display: flex; align-items: center; justify-content: space-between; width: 380px;
		.anticon{float: left; color: #DCDCDC; font-size: 20px;}
		a{font-size: 18px;}
	}
	.head-right{width: 80%;
		ul{float: left;}
	}
	ul{
		li{float: left;padding: 34px 10px;
			a{color: $textgreay; padding: 5px 10px; font-size: 0.9375rem;
				&:hover{color: $blue; text-decoration: none;}
			}
		}
	}
	ul:last-child{float: right;
		li{ 
			a{color: $blue; font-weight: 700;}
				&.login{background: linear-gradient(180deg, #F3F3F3 0%, #FFFFFF 100%);}}
		.blue-btn{margin-left: 20px; border: none!important}
		.blue-btn:hover{background-color: $green!important;}
	}
	.ant-dropdown-link{color: $textgreay; display: flex; align-items:center; font-size: 1.25rem;text-decoration: none!important; font-family: $qfont; margin-right: 20px; 
		img{width: 40px; height: 40px; margin-right: 10px;}
		
		.anticon-down{margin-left: 10px;font-size: 1.4rem!important; margin-top: 5px;}
	}
}



// ----------------HOME----------------


.home-banner{height: 100vh; background-image: url(/images/Capture.png); background-size: cover; background-position: center; display: flex;align-items: center; background-attachment: fixed;
	h1{font-family: $qfont; font-size: 4rem; text-align: center;color: $w; font-weight: 400;}
}
.banner-bottom{padding: 70px 0;text-align: center;
	h2{font-size: 2.125rem; line-height: 42px; font-family: $qfont; color: $blue; margin-bottom: 20px; font-weight: 600}
	p{font-size: 1.125rem; line-height: 25px; font-family: $opensan; max-width: 850px; margin: auto;color: $ltgrey; font-weight: 300;}
}
.about-this{
	.cnt-area{background-color: #FCFCFC;
		.cnt-area-lft{display: flex; align-items: flex-start; padding-left: 70px; flex-direction:column; justify-content: center;
				h2{color: $blue; font-size: 2rem; line-height: 40px;margin-bottom: 20px;
					span{color:$ltgrey; font-size: 1.5rem; display: block; }
				}
				p{font-size:0.875rem; line-height: 19px; font-family: $opensan;color: $ltgrey; margin-bottom: 20px;}
				a{font-size:0.8125rem;font-family: $qfont; color: $ltgrey;}
			}
		}
}
.techrow-platform{text-align: center; padding: 80px 0;
	h4{ font-family: $opensan; color: #929292; font-size: 18px;}
	.logo{width: 200px;display: block;text-align: center;margin:10px auto;}
	.techrow-works{padding: 50px 50px;}
}

.howItWork{text-align: center; padding:0 0 80px;background-color: $blue;
	h2{font-size: 2rem; line-height: 42px; font-family: $qfont; color: $w;padding-top: 100px; margin-bottom: 60px; font-weight: 300}
	.how-it-works{margin-bottom: 30px;}
	p{color: $w; max-width: 450px ; font-family: $opensan;  margin: auto; line-height: 22px; font-weight: 300}
	.works-types{border:1px solid $w; padding: 50px 40px; border-radius: 30px; margin: 0 15px;
		h3{font-family: $qfont; font-size:1.5rem; margin-bottom: 40px; color: $w;}
		p{ line-height: 20px}


	}
	.btn-area{display: block;margin-top: 100px;
		.blue-btn, .wt-btn{ padding: 20px 30px;min-width: 200px; font-size: 1.5rem; border-radius: 10px; font-weight: 700;cursor: pointer; display: inline-block;margin: 10px; text-decoration: none;}
	}
	.blue-btn{background-color: $blue !important; color: $w !important; border: 1px solid $w; 
		&:hover{background-color: $w !important; color: $blue !important;}
	}
	.wt-btn{background-color: $w !important; color: $blue !important;  border: 1px solid $w; 
		&:hover{background-color: $blue !important; color: $w !important;}
	}
}
.testimonials{padding: 100px 0; text-align: center;
	h2{font-size: 2rem; line-height: 40px; font-family: $qfont; color: $blue; margin-bottom: 90px; font-weight: 600}
	.each-testimo{margin: 0 20px;
		h3{font-size: 1.5rem; line-height: 30px; font-family: $qfont; color: $blue; margin: 20px auto 10px;font-weight: 600}
		p{font-size: 1rem; font-family: $opensan; line-height: 22px;}
	}
}
.bottom-blue-banner{padding: 250px 0; background-image: url(/images/bottom-blue-banner.jpg); background-size: cover; background-position: center;
	.btn-area{text-align: center;
		a{padding: 15px 30px;min-width: 200px; border-radius: 10px; font-weight: 400;cursor: pointer; display: inline-block;margin: 10px; text-decoration: none; font-size: 1.5rem;}
		.trns-btn{border:3px solid $w; color:$w;
			&:hover{background-color: $blue !important; color: $w !important;border-color: $blue;}
		}
		.white-btn{background-color: $w !important; color: $blue !important; border: 3px solid $w; 
			&:hover{background-color: $blue !important; color: $w !important;border-color: $blue;}
		}
	}
}
.contact-us{padding: 80px 0; background-color: #F3F3F3;
	h2{font-size:2rem;  font-family: $qfont; color: $blue; margin-bottom: 50px; font-weight: 600}
	h3{font-family: $opensan; font-size: 1.4rem; color: #7e7e7e; margin-bottom: 20px; font-weight: 600}
	.form{max-width: 450px; 
		.form-control{background-color: $w; border:none;border-radius: 10px;}
		.checkbox{margin: 25px 0;
			label{font-size: 1.1rem; color: #9A9A9A; cursor: pointer;
				input{margin-right: 10px;float: left;}
			}
		}
		button{padding:20px 20px;width: 200px;text-align: center; border-radius: 10px; background-color: #B0F542; color: $w; border:1px solid #B0F542;font-size: 1.5rem; cursor: pointer;@include transition(all .5s ease);
			&:hover{color: #B0F542; background-color: #fff;}
		}

	}
	ul{
		li{margin-bottom: 10px;
			a{color: #9b9b9b; padding: 10px 0; font-family: $opensan; font-size: 1.4rem; font-weight: 300;display: inline-block; text-decoration: none;
				&:hover{color: $blue}
			 }
		}
	}
}
footer{padding: 40px 0;
	.footer-content{display: flex; align-items:center; justify-content:space-between;
		copyright{font-family: $opensan; }
		.logo{width: 200px}
		.social-links{
			a{padding: 5px;margin-left: 10px;
				img{height: 30px;@include transition(all 1s ease);}
				&:hover{
					img{-webkit-transform: rotate(360deg);
					   -moz-transform: rotate(360deg);
					    -ms-transform: rotate(360deg);
					     -o-transform: rotate(360deg);
					        transform: rotate(360deg);}
				}
			}
		}
	}
}
// ----------------HOME----------------


.inner-wrap{padding-top: 85px; min-height: 100vh;background-color: $grey;
	.inner-blue-menu{background-color: $blue; width: 300px; position: fixed;left: 0; bottom: 0; top:85px;padding: 60px 0; text-align: center; display: flex;    justify-content: space-between; flex-direction: column; align-items: center;
		h1{color: $green; font-size: 2rem; font-weight: 500; line-height: 40px;}
		h3{color: $w; font-size: 1.4rem; font-weight: 500;margin-bottom: 20px;}
		a{color: $w; font-size: 1.125rem; font-weight: 500;   padding: 10px 20px; border:4px solid $green; border-radius: 8px;display: inline-block;
			img{width: 25px; float: left; margin-top: -3px; margin-right: 10px;}
			&:hover{color: $green}
		}
		.sidemenu-group{display: flex; flex-direction:column;width: 100%;
	    	a{border:none;position: relative; display: block;padding: 15px 0; cursor: pointer;border-radius: 0; text-align: left; padding-left: 50px; font-size: 1.5rem;
	    		&::after{content: ""; position: absolute; left:20px; right: 20px;bottom: 0; border:1px solid #5F5B8D50;}
	    		&:hover{background-color: #57547D; color: $w;}
	    		&.ative{background-color: #57547D; color: #B1F543}
	    	}
	    }
	}
	.inner-right-wrap{margin-left: 300px;
		h4{color: $blue; font-size: 2rem; font-weight: 600; line-height: 40px; text-align: center; margin-top: 50px; margin-bottom: 20px;}
		h5{color: $b; font-size: 1.8rem; font-weight: 600; line-height: 40px; text-align: center; margin-top: 30px; margin-bottom: 80px;}
		.form-wrap{background-color: $w; width: 80%; padding: 30px; margin: auto; border-radius: 20px;
			.form{width: 390px; margin:80px auto;
				.form-group{
					label{color: #6D6D6D; font-size: .75rem;font-family: $opensan; font-weight: 700;margin-bottom: 10px; text-transform: capitalize;}
					.form-control{background-color: #F1F1F1; border:1px solid #707070; border-radius: 5px;font-family: $opensan;
						&:focus{outline: none; box-shadow: none; border-color: $green; font-family: $opensan;}
						&::-webkit-input-placeholder {font-size:.75rem; color: #919191;font-family: $opensan;}
						&:-ms-input-placeholder { font-size:.75rem; color: #919191;font-family: $opensan;}
						&::placeholder {font-size:.75rem; color: #919191;font-family: $opensan;}
					}
					.ant-select{border:1px solid #707070; border-radius: 5px; height: 38px;display: block;width: 100%;
						.ant-select-selection--single{height: 36px;background-color: $grey; }
						&:hover{border-color: $green}
					}
					.ant-input-group{display: block;
						.ant-select{display: inline-block;width: 20%;background-color: $grey; border:1px solid #707070; border-radius:5px 0 0 5px;float: left; border-right: 0;
							.ant-select-selection--single{height: 36px; background-color: $grey; 
								.ant-select-selection__rendered{line-height: 35px;}
							}
						}
						.form-control{width: 79%;display: inline-block;border-radius: 0 5px 5px 0}

					}
					a{font-family: $opensan; font-style: italic;color: #262261}
					button{float: right;font-family: $opensan;font-size: 0.875rem; margin-top: -10px;
						&:focus{box-shadow: none; outline: none}
					}
				}
			}
		}
		.login-btm{text-align: center; border-top: .2px solid #707070; max-width: 800px;margin: 30px auto 10px; padding-top: 40px;
			span{color: #262261; font-family: $opensan;font-size: .75rem;
				a{color: #262261; text-decoration: underline;}
			}

		}
		.confirm-order{text-align: center;
			.form-wrap{padding: 100px;
				.form-control:focus{outline: none; box-shadow: none;}
				a{margin-top: 10px; display: inline-block;}
				h5{margin-bottom: 30px;margin-top: 0;}
				h6{font-family: $opensan; font-size: .75rem; margin-bottom: 10px; color: #6D6D6D; line-height: 16px;}

			}
		}
		.pass-strength{
			.pass-strength-tile{width: 40px; height: 10px; display: inline-block;margin-right: 10px}
			.about-password{display: inline-block;margin-top: 10px; color: #888888; font-size: 0.625rem; font-family: $opensan; }

		}
		.orderbundle{
			.form-wrap .form{margin: 30px!important}
			.ant-checkbox-wrapper{float: right;margin-top: 5px;
				span{font-weight: 300;}
			}
			.form .form-group .form-control{background-color: #fff!important; border-color: #E9E9E9;}
			
			.card{width: 100%;padding: 20px 0;
				span{font-family: $qfont; font-size: 4rem; color: #262261; vertical-align: middle;; display: inline-block;
					span{font-size: 1.8rem; color: #919191}
				}
			}
			.card-details-form{
				.form-control{height: 50px!important;}
				.StripeElement{padding-top: 15px;height: 50px!important;}
				.blue-btn{width: 100%; padding: 20px; text-align: center!important; border-radius: 30px; display: block; margin-top: 10px!important; float: none!important}
			}
			.card-types{
				img{width: 100%;}
			}

		}
		.order-bundle{
			h2{font-size: 1.5rem; font-family: $qfont; line-height: 24px; font-weight: 600; color: #262161; margin-bottom: 30px;}
			.form{width: 600px!important}
			.form .form-group .form-control.order-num{width: 120px!important; margin: auto!important; border:none!important; text-align: center; font-size:2.25rem; color: #DADADB;height:65px!important; background-color: #EEEEEE!important;}
			.form .form-group .form-control.order-num::-webkit-input-placeholder { /* Edge */
				font-size:2.25rem; color: #DADADB;}
			.form .form-group .form-control.order-num:-ms-input-placeholder { /* Internet Explorer 10-11 */
				font-size:2.25rem; color: #DADADB;}
			.form .form-group .form-control.order-num::placeholder {
				font-size:2.25rem; color: #DADADB;}
		}
		.billing-wrap{
			.form-wrap .form{width: auto;}
		}
		.confirm-order{
			.order-bundle{text-align: center;
				.tick{width: 150px;}
				.green-btn{float: none; margin: auto;padding: 10px; width: 190px; height: 50px; text-align: center; margin-top:10px; }
			}
		}
	}
}
.signup-wrap{text-align: center;
	.signin-opt{border-radius: 10px;padding: 30px; border-width: 2px; border-style: solid;height: 100%; cursor: pointer;
		&:hover{background-color: rgba(200,200,200,.1);}
		img{height: 100px;}
		h5{margin-bottom: 15px;}
		p{font-family: $opensan; font-size: 1.125rem;line-height: 25px; font-weight: 300; color: #919191}

	}
	.user-type-select{width: 800px; margin: auto;}
	button{float: right; background:none; border:none; cursor: pointer;vertical-align: middle; display: flex; align-items:center; color: #C8C8C8;padding: 5px 10px; border:2px solid $w!important;border-radius: 5px; margin-top: 20px;
		img{border-radius: 50%; padding: 10px; background-color: $green; width: 50px; margin-left: 10px;}
		&:focus{outline: none; box-shadow: none; border:none}	
		&:hover{color: $green; border-color: $green!important;
	
		}		

	}

}
.step-view{text-align: center;margin:auto; position: relative; margin-top: 90px;
		li{display: inline-block;margin:0 11%;
			a{display: inline-block; background-color: $w; color: $b;padding:26px 15px;width: 80px; height: 
			80px;border-radius: 50%; font-size: 1.9375rem; font-weight: 600}
			&:after{content: ""; position: absolute; border: 1px solid #D8D8D8;width: 22%; top:40px;}
			&:last-child:after{display: none}	
			&.complete a{color: $green}
			&.active a{color: $green}
			&.complete:after{border-color: $green;}	
		}
	}
.signin-second{ text-align: left;
	.step-iden{max-width: 800px; margin:30px auto 20px;
		span{font-size: 1rem;}
	}
	h4{margin-top: 70px!important;}
	.form-wrap{
		.form{margin:50px!important;
		}
	}
}


// ----------------Dashboard----------------

.dashboard{padding: 30px; background-color: $w; padding-top: 40px; min-height: calc( 100vh - 100px);
	h2{font-family: $qfont; font-size: 2rem; font-weight: 600; color: $blue; display: inline-block;}
	.search{width: 350px; float: right; position: relative;
		.form-control{border-radius: 20px; background-color: #E8E8E8;border:none; padding-right: 50px;
			&:focus{box-shadow: none; outline: none}
		}
		button{position: absolute; right: 10px; top:10px; border:none; background:none; width: 30px; cursor: pointer;}
	}
	.classesList{margin-top: 50px;
		.each-class{margin-bottom: 30px;display: block;
			.class-banne-wrap{overflow: hidden!important; height: 140px;
				.class-banner{width: 100%; @include transition(all 1s ease);}
			}
			h3{font-family: $qfont; font-size: 1rem; font-weight: 300; line-height: 20px; color: #2e2e2e; margin: 10px 0 10px; text-decoration: none}
			p{font-family: $opensan;  color: #ABABAB; font-size: .75rem; line-height: 16px; text-decoration: none}
			&:hover{text-decoration: none;
				img{-webkit-transform: scale(1.1);
				   -moz-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				     -o-transform: scale(1.1);
				        transform: scale(1.1);}
				h3{color: $blue; text-decoration: none}
				p{color: $blue; text-decoration: none}
			}
		}
	}
}


    

// ----------------Dashboard----------------
// ----------------marketplace----------------
.marketplace-page{min-height: 100vh;background-color: #fff;}
.marketplace{padding: 30px 30px; display: flex; align-items:center; justify-content: space-between; background-color: #fff;
	.back{
		i{float: left;}
	}
	a{color: $b;}
	.form-group{margin-bottom: 0; position: relative;
		.form-control{width: 650px; border-radius: 30px; padding-right: 40px;}
		button{position: absolute;right:5px; top:5px; background:none; border:none; cursor: pointer;
			img{width: 25px; opacity: .7}
			&:hover{
				img{opacity: 1}
			}
		}

	}
}

.featured-slider{background-color: #fff;
	img{width: 100%;height: 350px; object-fit:cover}

	.featured-slider-item{position: relative;
		.featured-slider-cnt{position: absolute; bottom: 0;right: 0; left:0; padding: 20px;z-index: 2; opacity: 0;  @include transition(all 0.5s ease); 
			h2{font-size: 1.5rem; color: $w; margin-bottom: 10px;}
			p{font-size: 1rem; color: $w; margin-bottom: 20px; line-height: 20px;}
			h3{font-size: 1.5rem; color: $w; float: left; }
			a{ padding: 5px 20px;margin-left: 20%; font-size: .875rem!important; font-weight: 300; color: $b!important}
		}
		&:hover{.featured-slider-cnt{opacity: 1;}
		}
		&::after{content: ""; position: absolute;top:0; right: 0; bottom: 0; left:0; -webkit-box-shadow: inset 0px -171px 122px -42px rgba(0,0,0,0.53);
-moz-box-shadow: inset 0px -171px 122px -42px rgba(0,0,0,0.53);
box-shadow: inset 0px -171px 122px -42px rgba(0,0,0,0.53);
 z-index: 1}	
	}
	.slick-current{
		.featured-slider-cnt{opacity: 1;

		}
	}
}


.seience-slide{background-color: #fff;padding-top: 30px; margin-bottom: 20px;
	h1{font-size: 1.5rem; color: #262261; margin-bottom: 10px; margin-left: 30px;}
	.slick-list{padding: 20px 50px!important;}
	.slick-slide{padding:5px; background-color: #fff;}
	.featured-slider-item{
		img{width: 100%;height: 210px; object-fit:cover}
		.featured-slider-cnt{position: absolute; bottom: 0;right: 0; left:0; padding: 20px;z-index: 2;  @include transition(all 0.5s ease); 
			h2{font-size: 1.2rem; color: $w; margin-bottom: 0px;}
			p{font-size: .875rem; color: $w; margin-bottom: 20px; line-height: 20px;}
			h3{font-size: 1.2rem; color: $w; float: left; }
		}
	}
	.featured-slider .slick-current::after{display: none}
	.slick-slide{width: 300px;}
	.slick-center{-webkit-transform: scale(1.4, 1); -moz-transform: scale(1.4, 1);  -ms-transform: scale(1.4, 1); -o-transform: scale(1.4, 1);
	        transform: scale(1, 1.4); z-index: 10000; position: inherit; width: 400px!important;
	        .featured-slider-cnt{padding-bottom: 20px!important}
	        h2{font-size: 1.5rem!important; line-height: 20px!important; margin-bottom: 0!important; -webkit-transform: scale(1, .6); -moz-transform: scale(1, .6); -ms-transform: scale(1, .6); -o-transform: scale(1, .6); transform: scale(1, .6);}
	        p{font-size: 1rem!important; line-height: 20px!important; margin-bottom: 0px!important; -webkit-transform: scale(1, .6); -moz-transform: scale(1, .6); -ms-transform: scale(1, .6);  -o-transform: scale(1, .6); transform: scale(1, .6);}
	        h3{font-size: 1rem!important;-webkit-transform: scale(1, .7); -moz-transform: scale(1, .6); -ms-transform: scale(1, .6); -o-transform: scale(1, .6);  transform: scale(1, .6); }
	    }
	.slick-arrow{position: absolute; top:24%; z-index: 1000; width: 40px; height: 40px; cursor: pointer; background:none; font-size: 0; border-radius: 50%; background-size: contain; border:none}
	.slick-prev{left: 15px; background-image: url(/images/left-arrow.png);}
	.slick-next{ right: 15px;background-image: url(/images/right-arrow.png);}
	.slick-arrow:focus{outline: none; box-shadow: none}
}

// ----------------marketplace----------------

.marketplace-item{

	.marketplace-banner{position: relative; text-align: center; height: 500px;
		&::after{content: ""; position: absolute;left: 0; top:0; right: 0; bottom: 2px; -webkit-box-shadow: inset 0px -59px 22px -46px rgba(255,255,255,1);
-moz-box-shadow: inset 0px -59px 22px -46px rgba(255,255,255,1);
box-shadow: inset 0px -59px 22px -46px rgba(255,255,255,1);}
		.item-banner{z-index: -1; height: 100%;}
		.back-btn{ color: $w; background-color: #00000080;z-index: 1000; padding: 5px; position: absolute;left: 30px; top:30px; border-radius: 30px;
			i{float: left;}
		}
		.play-icon{position: absolute; top:40%; display:block; margin: auto; z-index: 1000; text-align: center;left:0; right: 0;width: 100px; 
			span{font-size:1rem; color: $w; font-family: $qfont;  @include transition(all 0.5s ease);}

			img{width: 100px; display: block; margin-bottom: 10px; @include transition(all 0.5s ease); }
			&:hover{
				span{color: $green}
				img{-webkit-transform: scale(1.1);
				   -moz-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				     -o-transform: scale(1.1);
				        transform: scale(1.1);}
			}
		}
	}
}


.marketplace-content{padding: 50px;
	h1{font-size: 2rem; font-family: $qfont; color: #262261; margin-bottom: 20px; font-weight: 600}
	p{font-family: $opensan; margin-bottom: 10px; line-height: 20px}
	.green-btn{display: inline-block; float: none;}
	ul{
		li{font-size: 1.5rem;margin-bottom: 15px;
			span{display: block; border-top: 1px solid #878787; font-size: 1.125rem; padding: 10px 0; margin-top: 5px;}
		}
	}
}

// ----------------theaterMode----------------


.inner-wrap .inner-blue-menu .sidemenu-group{ 
	.backtomylibrary{
		img{width: 10px; float: left; margin-top: 4px}
		&::after{border:none}
	}
	.my-library-modes{display: flex;    justify-content: center;
		a{font-size: .75rem;text-align: center; padding: 0;padding: 20px 0; background:none; border:1px solid #5F5B8D50;width: 130px; display: flex; flex-direction:column; align-items:center;
			img{width: auto;  max-height: 50px; margin-bottom: 10px;}
			&::after{border:none}
			img:nth-child(1){display: block}
			img:nth-child(2){display: none}
		}
		.ative{ background-color: #57547D;
				img:nth-child(1){display: none}
				img:nth-child(2){display: block}
			}
	}
}


.theaterMode{
	.row{height: 100%;}
	.theaterModeData{height: calc( 100vh - 155px ); overflow-y:scroll; 
		.theaterVideo{width: 100%; height: 500px; display: flex; align-items:center; justify-content:center;
			iframe{width:800px; height: 450px;}
		}
		.discription{margin-bottom: 20px;
			p{font-family: $opensan; font-size: .875rem; color: #A5A5A5; line-height: 20px}
		}
		h1{font-size: 1.5rem; color: #000; font-weight: 600; margin-bottom: 15px;}
		ul{
			li{margin-bottom: 5px;font-family: $opensan; font-size: .875rem; color: #A5A5A5; line-height: 20px}
		}
	}
	.message-wrap{background-color: #262161; border-radius: 5px; height: calc( 100vh - 155px );padding-bottom: 120px;
		.message-list{height: 100%;padding: 10px}
		}
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 600px) { 
	html, body{font-size: 12px;}

// ----------------HOME----------------


	header{height: 50px;position: relative;
		.logo{
			img{width: 100px;}
		}
		menu{position: absolute; right: 10px; top:22px;display: block;}
		.head-right{position: absolute; background: #fff; width: 300px;top:0; height: 100vh; padding-top: 50px; right: -300px; @include transition(all 1s ease);
			ul{display: block; float: none;float: none;
				li{display: block; width: 100%; padding: 20px 20px; background:none;
					a{font-size: 1.2rem;}
				}
			}
			&.openMenu{right: 0;}
		}
	}
	.home-banner{height: 50vh;
		h1{font-size: 2.5rem;}
	}
	.banner-bottom{padding: 50px 0;}
	.about-this .cnt-area .cnt-area-lft{padding-left: 15px; text-align: center;padding-top: 50px; padding-bottom: 50px;
		a{margin: auto; text-align: center; font-size: 1.2rem;}
	}
	.techrow-platform{padding: 50px 0;
		.logo{width: 120px;}
		.techrow-works{padding: 50px 0 10px;}
	}
	.howItWork{padding-bottom: 50px;
		h2{padding-top: 50px;}
		.works-types{margin:0 10% 20px; padding: 30px;}
		.btn-area{margin-top: 30px}
	}
	.testimonials{padding: 50px 0;
		h2{margin-bottom: 50px}
	}
	.bottom-blue-banner{padding: 50px 0; background-attachment: fixed;}
	.contact-us {padding: 50px 0; text-align: center;
		h2{margin-bottom: 30px;}
		.form{margin-bottom: 30px}
	}
	footer{padding: 20px 0;
		.footer-content{flex-direction:column;
			.logo{padding: 10px 0;width: 100px;}
			.social-links{
				a{
					img{height: 20px}
				}
			}
		}
	}

// ----------------HOME----------------

// ----------------Login----------------

	.inner-wrap{padding-top: 50px;
		.inner-blue-menu{top:50px;width: 100px;
			h1{font-size: 1rem; line-height: 20px;}
			h3{font-size: 1rem; line-height: 20px;}
			a{font-size: 1rem;  padding: 10px 7px; border: 1px solid #B1F543}
		}
		.inner-right-wrap{margin-left: 100px;
			h4{margin-top: 50px;}
			.form-wrap{width: 90%;
				.form{width: 100%;}
			}
		}
	}

// ----------------Login----------------


}

// Medium devices (Ipad)
@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait){ 


	html, body{font-size: 14px;}

// ----------------HOME----------------

	header{height: 70px;
		.logo{
			img{width: 100px;}
		}
		ul{
			li{padding: 25px 5px;}
		}
		.header-menu{width: 260px;}
	}
	.home-banner{height: 50vh;
		h1{font-size: 2.5rem;}
	}
	.banner-bottom{padding: 50px 0;}
	.about-this .cnt-area{ 
		.cnt-area-lft{padding-left: 15px;padding-top: 50px; padding-bottom: 50px;
			a{ font-size: 1.2rem;}
		}
		.about-cnt-rt{vertical-align: middle; display: flex;}
	}
	.techrow-platform{padding: 50px 0;
		.logo{width: 120px;}
		.techrow-works{padding: 50px 0 10px;}
	}
	.howItWork{padding-bottom: 50px;
		h2{padding-top: 50px;}
		.works-types{ padding: 30px 10px;
			h3{margin-bottom: 30px;}
		}
		.btn-area{margin-top: 30px}
	}
	.testimonials{padding: 50px 0;
		h2{margin-bottom: 50px}
	}
	.bottom-blue-banner{padding: 200px 0; background-attachment: fixed;}
	.contact-us {padding: 50px 0; 
		h2{margin-bottom: 30px;}
		.form{margin-bottom: 30px}
	}
	footer{padding: 20px 0;
		.footer-content{
			.logo{padding: 10px 0;width: 100px;}
			.social-links{
				a{
					img{height: 20px}
				}
			}
		}
	}
// ----------------HOME----------------

// ----------------Login----------------

	.inner-wrap{padding-top: 70px;
		.inner-blue-menu{top:70px;width: 200px;
			.sidemenu-group a{padding-left: 20px}
			.my-library-modes a img{height: 30px}
		}
		.inner-right-wrap{margin-left: 200px;
			.form-wrap{width: 95%;}

		}
	}
	.step-view li{margin: 0 5%;
		a{font-size: 1.5rem; width: 50px; height: 50px;padding: 15px 0;

		}&::after{top: 25px;width: 10%}
	}

// ----------------Login----------------



.dashboard .classesList .each-class .class-banne-wrap{height: 120px;}
.theaterMode .theaterModeData{ height: auto;
	.theaterVideo{height: 300px;
		iframe{height: 250px}
	}
}


}

// Large devices (Ipad Landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	html, body{font-size: 16px;}


.inner-wrap{ 
	.inner-blue-menu{width: 225px;
		.sidemenu-group{ 
			a{font-size: 1.2rem; padding-left: 30px;}
			 .my-library-modes a img{max-height: 35px;}
		}
	}
	.inner-right-wrap{margin-left: 225px;}
}

// ----------------HOME----------------

	header{
		.logo{
			img{width: 100px;}
		}
		.header-menu{width: 290px;}
	}
	.home-banner{height: 70vh;
		h1{font-size: 2.5rem;}
	}
	.banner-bottom{padding: 70px 0;}
	.about-this .cnt-area{ 
		.cnt-area-lft{padding-left: 15px;padding-top: 50px; padding-bottom: 50px;
			a{ font-size: 1.2rem;}
		}
		.about-cnt-rt{vertical-align: middle; display: flex;}
	}
	.techrow-platform{padding: 50px 0;
		.logo{width: 120px;}
		.techrow-works{padding: 50px 0 10px;}
	}
	.howItWork{padding-bottom: 50px;
		h2{padding-top: 50px;}
		.works-types{ padding: 30px 10px;
			h3{margin-bottom: 30px;}
		}
		.btn-area{margin-top: 30px}
	}
	.testimonials{padding: 50px 0;
		h2{margin-bottom: 50px}
	}
	.bottom-blue-banner{padding: 200px 0; background-attachment: fixed;}
	.contact-us {padding: 50px 0; 
		h2{margin-bottom: 30px;}
		.form{margin-bottom: 30px}
	}
	footer{padding: 20px 0;
		.footer-content{
			.logo{padding: 10px 0;width: 100px;}
			.social-links{
				a{
					img{height: 20px}
				}
			}
		}
	}

// ----------------HOME----------------
// ----------------My Library----------------

.dashboard .classesList .each-class .class-banne-wrap{height: 100px;}
.theaterMode .theaterModeData{
	.theaterVideo{height: 310px;
		iframe{height: 280px}
	}
}
// ----------------My Library----------------


}
@media (min-width: 1441px) {
	.inner-wrap .inner-right-wrap h4{margin-top: 100px;}
 }
