html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b{font-weight: 600}

$blue: #262161;
$green: #B1F543;
$textgreay :#707070;
$grey: #F3F3F3;
$w : #fff;
$b: #000;
$qfont: 'Quicksand', sans-serif;
$opensan: 'Open Sans', sans-serif;


.blue-btn{background-color: $blue!important; color: $w!important; padding: 10px 20px; border-radius: 20px; font-weight: 700; border:1px solid $blue;}
.green-btn{background-color: $green!important; color: $b!important; padding: 10px 40px; border-radius: 5px; font-weight: 700; border:1px solid $green;}
.blue-btn:hover{color: $blue!important; background-color: $w!important;}
.green-btn:hover{color: $green!important; background-color: $w!important;}


html{font-size: 16px;}
body{font-family: $qfont; font-weight: 400}
header{ height: 85px; background-color: $w; padding: 0!important;
	.logo{float: left; margin-right: 20px;margin-top: 5px;
		img{max-width: 200px;}
	}
	ul{
		li{float: left;padding: 34px 10px;
			a{color: $textgreay; padding: 5px 10px; font-size: 0.9375rem;
				&:hover{color: $blue; text-decoration: none;}
			}
		}
	}
	ul:last-child{float: right;
		li{ 
			a{color: $blue; font-weight: 700;}
				&.login{background: linear-gradient(180deg, #F3F3F3 0%, #FFFFFF 100%);}}
		.blue-btn{margin-left: 20px}
	}
}
.home-banner{height: 100vh; background-image: url(/images/Capture.png); background-size: cover; background-position: center;}

.inner-wrap{padding-top: 85px; min-height: 100vh;background-color: $grey;
	.inner-blue-menu{background-color: $blue; width: 300px;height:100%; position: fixed;left: 0; bottom: 0; top:85px; text-align: center; display: flex;    justify-content: space-around; flex-direction: column; align-items: center;
		h1{color: $green; font-size: 2rem; font-weight: 500; line-height: 40px;}
		h3{color: $w; font-size: 1.4rem; font-weight: 500;margin-bottom: 20px;}
		a{color: $w; font-size: 1.125rem; font-weight: 500;   padding: 10px 20px; border:4px solid $green; border-radius: 8px;display: inline-block;}

	}
	.inner-right-wrap{margin-left: 300px;padding-bottom: 30px;
		h4{color: $blue; font-size: 2rem; font-weight: 500; line-height: 40px; text-align: center; margin-top: 100px; margin-bottom: 20px;}
		h5{color: $b; font-size: 2rem; font-weight: 500; line-height: 40px; text-align: center; margin-top: 30px; margin-bottom: 80px;}
		.form-wrap{background-color: $w; width: 80%; padding: 30px; margin: auto; border-radius: 20px;
			.form{width: 390px; margin:80px auto;
				.form-group{
					label{color: #6D6D6D; font-size: .75rem;font-family: $opensan; font-weight: 700;margin-bottom: 10px; text-transform: capitalize;}
					.form-control{background-color: $grey; border:1px solid #707070; border-radius: 5px;
						&:focus{outline: none; box-shadow: none; border-color: $green}
					}
					.ant-select{border:1px solid #707070; border-radius: 5px; height: 38px;display: block;width: 100%;
						.ant-select-selection--single{height: 36px;background-color: $grey; }
						&:hover{border-color: $green}
					}
					.ant-input-group{display: block;
						.ant-select{display: inline-block;width: 20%;background-color: $grey; border:1px solid #707070; border-radius:5px 0 0 5px;float: left; border-right: 0;
							.ant-select-selection--single{height: 36px; background-color: $grey; }
						}
						.form-control{width: 84%;display: inline-block;border-radius: 0 5px 5px 0}

					}
					button{float: right;
					}
				}
			}
		}
		.confirm-order{text-align: center;
			.form-wrap{padding: 100px;
				a{margin-top: 10px; display: inline-block;}
				h5{margin-bottom: 40px;}

			}
		}
		.pass-strength{
			.pass-strength-tile{width: 40px; height: 10px; display: inline-block;margin-right: 10px}
			.about-password{display: inline-block;margin-top: 10px; color: #888888}

		}
		.order-bundle{
			h2{font-size: 1.5rem; font-family: $qfont; line-height: 24px; font-weight: 600; color: #262161; margin-bottom: 30px;}
			.form{width: 600px!important}
			.order-num{width: 100px!important; margin: auto!important; border:none!important}
		}
	}
}
.signup-wrap{text-align: center;
	.signin-opt{border-radius: 10px;padding: 30px; border-width: 2px; border-style: solid;height: 100%; cursor: pointer;
		&:hover{background-color: rgba(200,200,200,.1);}
		img{height: 100px;}
		h5{margin-bottom: 15px;}
		p{font-family: $opensan; font-size: 1.125rem;line-height: 25px; font-weight: 300; color: #919191}

	}
	.user-type-select{width: 800px; margin: auto;}
	button{float: right; background:none; border:none; cursor: pointer;vertical-align: middle; display: flex; align-items:center; color: #C8C8C8;padding: 5px 10px; border:2px solid $w!important;border-radius: 5px; margin-top: 20px;
		img{border-radius: 50%; padding: 10px; background-color: $green; width: 50px; margin-left: 10px;}
		&:focus{outline: none; box-shadow: none; border:none}	
		&:hover{color: $green; border-color: $green!important;
	
		}		

	}
}
.signin-second{ text-align: left;
	.step-iden{max-width: 800px; margin:30px auto 20px;
		span{font-size: 1rem;}
	}
	h4{margin-top: 70px!important;}
	.form-wrap{
		.form{margin:50px!important}
	}
}



