.loginform{
	background-color: white;
    border-radius: 20px;
    text-align: center;
}
.pointer{
	cursor: pointer;
}
.stepper_item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.stepper_item_circle{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: white;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    text-align: center;
}
.paynow{
	display: block;
    background-color: darkblue;
    border-radius: 25px;
}